<!DOCTYPE html>
<html ng-app="actimer">
<head>
    <title>ACTimer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="normalize-css/normalize.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-Xqcy5ttufkC3rBa8EdiAyA1VgOGrmel2Y+wxm4K3kI3fcjTWlDWrlnxyD6hOi3PF" crossorigin="anonymous">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="jquery-ui/themes/base/all.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<% include nav.ejs %>
<div class="jumbotron custom">
    <h1>AC Timer</h1>
    <p>A web-based time-keeping system integrated with the <a href="https://www.activecollab.com/">ActiveCollab</a> project management system.</p>
    <p><a class="btn btn-primary btn-lg">Get Started</a></p>
</div>



</body>
</html>
