<!DOCTYPE html>
<html ng-app="actimer">
<head>
    <title>ACTimer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome-4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.min.js"></script>
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="moment/min/moment.min.js"></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="javascripts/front-main.js"></script>
    <script src="javascripts/Timer.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="javascripts/ACTimer.js"></script>
</head>
<body>
<form ng-submit="submit()" ng-controller="TimerFormController">
    <div class="container">
        <div class="column full" >
            <div class="form-group">
                <div class="row clearfix">
                    <div class="input-group column full">
                        <input type="text" id="timerDescription" class="form-control" placeholder="Description" ng-model="description">
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="input-group column third">
                        <input type="text" id="timerHours" class="form-control" placeholder="Hours" ng-model="hours">
                    </div>
                    <div class="input-group column third">
                        <input type="text" id="timerMinutes" class="form-control" placeholder="Minutes" ng-model="minutes">
                    </div>
                    <div class="input-group column third">
                        <input type="text" id="timerSeconds" class="form-control" placeholder="Seconds" ng-model="seconds">
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="dropdown column half" ng-controller="CategoryController">
                        <select name="category" class="wide" ng-model="selectedCategory" ng-change="changeCategory()">
                            <option ng-repeat="category in categories" value="{{category.categoryId}}">{{category.categoryName}}</option>
                        </select>
                    </div>
                    <!--<div class="input-group column half">-->
                    <!--<input type="date" id="timerDate" ng-model="date">-->
                    <!--</div>-->

                    <div class='input-group date column half'>
                        <input type='text' class="form-control" id="timerDate" ng-model="timerDate" value="" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="row clearfix" ng-controller="ProjectsTasksController">
                    <div class="dropdown column half" >
                        <select name="project" class="wide" ng-model="selectedProject" ng-change="loadTasks()">
                            <option ng-repeat="project in projects" value="{{project.projectId}}">{{project.projectName}}</option>
                        </select>
                    </div>
                    <div class="dropdown column half">
                        <select name="task" class="wide" ng-model="selectedTask" ng-change="changeTask()">
                            <option ng-repeat="task in tasks" value="{{task.taskId}}">{{task.taskName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="input-group column full">
                        <input type="submit" value="Add Timer" class="btn btn-primary">
                        <div class="checkbox checkbox-inline">
                            <input type="checkbox" id="timerBillable"  ng-model="billable">
                            <label for="timerBillable">Billable</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="timers" ng-controller="TimerListController">
    <div class="well" ng-repeat="timer in timers">
        <div class="fa fa-play">
        </div>
        <div>
            {{timer.task}}
        </div>
        <div>
            {{timer.description}}
        </div>
        <div>
            {{timer.date}}
        </div>
        <div>
            {{timer.category}}
        </div>
        <div>
            {{timer.elapsedTime}}
        </div>
        <div>
            {{timer.billable}}
        </div>
        <div class="fa fa-pencil">
        </div>
        <div class="fa fa-trash">
        </div>
    </div>
</div>
</body>
</html>
