<!DOCTYPE html>
<html ng-app="actimer">
<head>
    <title>ACTimer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome-4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="jquery-ui/themes/base/all.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="moment/min/moment.min.js"></script>
    <script type="text/javascript" src="moment/min/locales.min.js"></script>
    <script type="text/javascript" src="humanize-duration/humanize-duration.js"></script>
    <script type="text/javascript" src="stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="angular-timer/dist/angular-timer.min.js"></script>
    <script type="text/javascript" src="javascripts/front-main.js"></script>
    <script type="text/javascript" src="javascripts/Timer.js"></script>
    <script type="text/javascript" src="javascripts/services.js"></script>
    <script type="text/javascript" src="javascripts/ACTimer.js"></script>
</head>
<body>
<form ng-submit="submit()" ng-controller="TimerFormController">
    <div class="container">
        <div class="column full" >
            <div class="form-group">
                <div class="row clearfix">
                    <div class="input-group column full">
                        <input type="text" id="timerDescription" class="form-control" placeholder="Description" ng-model="description">
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="input-group column third">
                        <input type="text" id="timerHours" class="form-control" placeholder="Hours" ng-model="hours">
                    </div>
                    <div class="input-group column third">
                        <input type="text" id="timerMinutes" class="form-control" placeholder="Minutes" ng-model="minutes">
                    </div>
                    <div class="input-group column third">
                        <input type="text" id="timerSeconds" class="form-control" placeholder="Seconds" ng-model="seconds">
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="dropdown column half" ng-controller="CategoryController">
                        <select name="category" class="wide" ng-model="selectedCategory" ng-change="changeCategory()">
                            <option ng-repeat="category in categories" value="{{category.categoryId}}">{{category.categoryName}}</option>
                        </select>
                    </div>
                    <!--<div class="input-group column half">-->
                    <!--<input type="date" id="timerDate" ng-model="date">-->
                    <!--</div>-->

                    <div class='input-group date column half'>
                        <input type='text' class="form-control" id="timerDate" placeholder="Date" ng-model="timerDate" />
                    </div>
                </div>
                <div class="row clearfix" ng-controller="ProjectsTasksController">
                    <div class="dropdown column half" >
                        <select name="project" class="wide" ng-model="selectedProject" ng-change="loadTasks()">
                            <option ng-repeat="project in projects" value="{{project.projectId}}">{{project.projectName}}</option>
                        </select>
                    </div>
                    <div class="dropdown column half">
                        <select name="task" class="wide" ng-model="selectedTask" ng-change="changeTask()">
                            <option ng-repeat="task in tasks" value="{{task.taskId}}">{{task.taskName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="input-group column half">
                        <input type="submit" value="Add Timer" class="btn btn-primary">
                        <div class="checkbox checkbox-inline">
                            <input type="checkbox" id="timerBillable"  ng-model="billable">
                            <label for="timerBillable">Billable</label>
                        </div>
                    </div>
                    <div class="column half">
                        <a href="#" class="btn btn-primary flow-opposite">Submit Selected</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="timers" ng-controller="TimerListController">
    <div class="well" ng-repeat="actimer in actimers">
        <div class="fa fa-play play">
        </div>
        <div class="task">
            {{actimer.task}}
        </div>
        <div class="description">
            {{actimer.description}}
        </div>
        <div class="category">
            {{actimer.category}}
        </div>
        <div class="date">
            {{actimer.date}}
        </div>
        <div class="elapsed-time">
            <timer interval="1000" start-time="actimer.elapsedTime" autostart="false">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
        </div>
        <div class="billable">
            {{actimer.billable}}
        </div>
        <div class="fa fa-pencil edit">
        </div>
        <div class="fa fa-trash delete">
        </div>
    </div>
</div>
</body>
</html>
