<!DOCTYPE html>
<html ng-app="actimer">
<head>
    <title>ACTimer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome-4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="jquery-ui/themes/base/all.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="moment/min/moment.min.js"></script>
    <script type="text/javascript" src="moment/min/locales.min.js"></script>
    <script type="text/javascript" src="humanize-duration/humanize-duration.js"></script>
    <script type="text/javascript" src="stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="javascripts/front-main.js"></script>
    <script type="text/javascript" src="javascripts/Timer.js"></script>
    <script type="text/javascript" src="javascripts/services.js"></script>
    <script type="text/javascript" src="javascripts/ACTimer.js"></script>
</head>
<body>
<div class="timers" ng-controller="TimerListController">
    <div class="column full no-padding controls" ng-controller="TimerControlsController">
        <div class="column half no-padding">
            <a href="#" class="btn btn-primary" ng-click="addTimer()">Add Timer</a>
        </div>
        <div class="column half flow-opposite no-padding">
            <a href="#" class="btn btn-primary disabled flow-opposite">Submit Timers</a>
        </div>
    </div>
    <div class="well column full" ng-repeat="actimer in actimers">
        <div class="fa fa-play play" ng-class="{ 'fa-play play' : true !== actimer.active, 'fa-pause pause' : true === actimer.active }" ng-click="toggleTimer(actimer)">
        </div>
        <div class="task">
            {{actimer.taskName}}
        </div>
        <div class="description">
            {{actimer.description}}
        </div>
        <div class="category">
            {{actimer.categoryName}}
        </div>
        <div class="date">
            {{actimer.date}}
        </div>
        <div class="elapsed-time">
            {{actimer.elapsedTimeReadable}}
        </div>
        <div class="billable">
            {{actimer.billableReadable}}
        </div>
        <div class="fa fa-pencil edit" ng-click="editTimer(actimer)">
        </div>
        <div class="fa fa-trash delete" ng-click="removeTimer(actimer)">
        </div>
    </div>
</div>
<div class="modal" ng-controller="ModalController" ng-class="{ 'show' : true === message.active }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('message')" data-dismiss="modal" aria-hidden="true">&#x274C;</button>
                <h4 class="modal-title">{{modal.title}}</h4>
            </div>
            <div class="modal-body">
                <p>{{modal.message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close('message')">{{modal.cancel}}</button>
                <button type="button" class="btn btn-primary" ng-click="confirm()">{{modal.confirm}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" ng-controller="ModalController" ng-class="{ 'show' : true === form.active }">
    <div class="modal-dialog">
        <form class="form-horizontal"  ng-submit="submit()" ng-controller="TimerFormController">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('form')" data-dismiss="modal" aria-hidden="true">&#x274C;</button>
                    <h4 class="modal-title">{{modal.title}}</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="container">
                            <div class="column full" >
                                <div class="form-group">
                                    <div class="row clearfix">
                                        <div class="input-group column full">
                                            <input type="text" id="timerDescription" class="form-control" placeholder="Description" ng-model="currentTimer.description">
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="input-group column third">
                                            <input type="text" id="timerHours" class="form-control" placeholder="Hours" ng-model="currentTimer.hours">
                                        </div>
                                        <div class="input-group column third">
                                            <input type="text" id="timerMinutes" class="form-control" placeholder="Minutes" ng-model="currentTimer.minutes">
                                        </div>
                                        <div class="input-group column third">
                                            <input type="text" id="timerSeconds" class="form-control" placeholder="Seconds" ng-model="currentTimer.seconds">
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="dropdown column full" ng-controller="CategoryController">
                                            <select name="category" class="wide" ng-model="selectedCategory" ng-change="changeCategory()">
                                                <option ng-repeat="category in categories" value="{{category.categoryId}}">{{category.categoryName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class='input-group date column full'>
                                            <input type='text' class="form-control timerDate" placeholder="Date" ng-model="currentTimer.date" />
                                        </div>
                                    </div>
                                    <div ng-controller="ProjectsTasksController">
                                        <div class="row clearfix" >
                                            <div class="dropdown column full" >
                                                <select name="project" class="wide" ng-model="selectedProject" ng-change="loadTasks()" ng-options="project.projectId as project.projectName for project in projects">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="dropdown column full">
                                                <select name="task" class="wide" ng-model="selectedTask" ng-change="changeTask()" ng-options="task.taskId as task.taskName for task in tasks">
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix flow-opposite">
                                        <div class="input-group column half">
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="timerBillable" ng-model="currentTimer.billable">
                                                <label for="timerBillable">Billable</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close('form')">{{modal.cancel}}</button>
                    <button type="button" class="btn btn-primary" ng-click="confirm()">{{modal.confirm}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
