<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Brand</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="timer-link"><a href="timer">Timer</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="navvm.isLoggedIn"><a href="login">Sign In</a></li>
                <li ng-show="navvm.isLoggedIn"><a href="profile">{{ navvm.currentUser.email }}</a></li>
            </ul>
        </div>
    </div>
</nav>