*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.container {
  margin: 0 auto;
  width: 90%;
}
.column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
.full {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
.two-thirds {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 66.7%;
}
.half {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50%;
}
.third {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 33.3%;
}
.fourth {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 25%;
}
.flow-opposite {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  float: right;
}
.row {
  margin: 1em auto;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.dropdown .btn {
  width: 100%;
}
.checkbox {
  margin: auto 1em;
}
.checkbox label::after {
  padding-top: 3px;
}
input[type=date] {
  width: 100%;
  height: 100%;
}
select.wide {
  color: #000;
  width: 100%;
  padding: 8px 5px;
  font-size: 16px;
}
.timers {
  padding: 0 9em;
}
.timers .well div {
  display: inline-block;
  text-align: center;
}
div.fa {
  width: 1%;
}
