/* Variables */

@link-color: #00B7FF;

/* Global Styles */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: @link-color;
}

.container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  display: -webkit-flex;
}


.column {
  flex-direction: column;
  align-items: stretch;
  padding-left: 1rem;
  padding-right: 1rem;
}

.full {  .column;  width: 100%; }
.two-thirds {  .column;  width: 66.7%; }
.half {  .column;  width: 50%; }
.third {  .column;  width: 33.3%; }
.fourth {  .column;  width: 25%; }
.flow-opposite {  .column;  float: right; }

.row {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin: 1rem auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.jumbotron.custom {
  padding:7rem;
}